body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: black;
  color: orange;
}


.sidebar {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100%; /* Ensure sidebar takes full height */
  text-align: center;
}

.feed {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%; /* Ensure feed takes full height */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  color: darkorange;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.post-date {
  color: #888;
  font-size: 0.9em;
}

.card-content {
  margin-top: 10px;
}

.btn-primary {
  background-color: darkorange;
}

.feed-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-header {
  display: flex;
  align-items: center;
}

.user-info {
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
}

.post-date {
  margin-left: 10px;
  color: #888;
}

.card-content {
  margin-top: 10px;
  word-wrap: break-word; /* Ensure long words break properly */
  white-space: normal; /* Prevent text from displaying in a single line */
}
